:root {
  --dark-blue-300: #0a3871;
  --gray-400: #495057;
  --gray-500: #343a40;
  --cc-bg: #e5e5e5;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg);
}

.header {
  height: 14vh;
  padding: 1rem;
}

.logo {
  float: left;
  width: 36px;
}

.container {
  width: 90%;
  height: 86vh;
  margin: 0 auto;
  padding: 20px 20px 20px 100px;
}

.formulario,
.card {
  height: 100%;
  padding: 1.6rem;
}

.formulario {
  width: calc(66.67% - 140px);

  float: left;
}

textarea {
  width: calc(100% - 16px);
  padding: 8px;
  font-size: 2rem;
  border: none;
  outline: none;
  resize: none;
  color: var(--dark-blue-300);
  height: 80%;
  font-weight: 400;
  line-height: 2.5rem;
}

textarea::placeholder {
  color: var(--dark-blue-300);
  font-weight: 400;
  line-height: 2.5rem;
  font-size: 2rem;
}

.info-text {
  color: var(--gray-400);
  font-weight: 400;
  font-size: 0.8em;
  margin: 5px 0.5rem 0;
}

.info-text::before {
  content: url("./info.svg");
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: -4px 4px 0 0;
  vertical-align: middle;
}

button {
  height: 60px;
  width: calc(50% - 10px);
  border: none;
  padding: 12px;
  outline: none;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  margin: 16px 0 0 4px;
}

.btn-primary {
  background-color: var(--dark-blue-300);
  border: 2px solid white;
  border-radius: 24px;
  color: white;
}

.btn-secondary {
  background-color: white;
  color: var(--dark-blue-300);
  border: 2px solid var(--dark-blue-300);
  border-radius: 24px;
}
.card {
  /* position: relative; */
  float: right;
  width: 33.33%;
  margin: 0 0 0 60px;
  background: white;
  /* shadow */
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.1);
  border-radius: 32px;
  word-wrap: break-word;
}

.card img {
  width: 100%;
}

.card p {
  width: calc(100%);
  margin: 24px auto;
  text-align: center;
  color: var(--gray-400);
}
.card p:first-of-type {
  color: var(--gray-500);
  font-size: 1.4rem;
  font-weight: 700;
}
.card p:last-of-type {
  font-size: 1rem;
  font-weight: 400;
}

/*  */
#texto-descifrado {
  font-size: 24px;
  line-height: 1.7rem;
  text-align: justify;
  margin: 0;
  color: var(--gray-400);
  height: 80%;
  overflow: auto;
}

.card button {
  width: 80%;
  bottom: 36px;
}

.card .btn-secondary {
  width: calc(90% - 20px);
  display: block;
  margin: 2.16rem auto;
}
