:root {
  --dark-blue-100: #609ed4;
  --dark-blue-200: #356ea9;
  --dark-blue-300: #0a3871;
  --dark-blue-400: #072b61;
  --dark-blue-500: #052051;

  --light-blue-100: #f3f5fc;
  --light-blue-200: #eff1fa;
  --light-blue-300: #e9ecf8;
  --light-blue-400: #aab205;
  --light-blue-500: #757fb2;

  --gray-100: #ced4da;
  --gray-200: #adb5bd;
  --gray-300: #868e96;
  --gray-400: #495057;
  --gray-500: #343a40;
  --cc-bg: #e5e5e5;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--cc-bg);
}

.header {
  height: 14vh;
  padding: 1rem;
}

.logo {
  float: left;
  width: 36px;
}

.container {
  width: 90vw;
  height: 86vh;
  margin: 0 auto;
  padding: 20px 20px 20px 100px;
}

.formulario,
.card {
  height: 100%;
  padding: 1.6rem;
}

.formulario {
  width: calc(66.67% - 140px);
  float: left;
}

textarea {
  width: calc(100% - 16px);
  padding: 8px;
  font-size: 2rem;
  border: none;
  outline: none;
  resize: none;
  color: var(--dark-blue-300);
  height: 80%;
  font-weight: 400;
  line-height: 2.5rem;
  background: var(--cc-bg);
}

textarea::placeholder {
  color: var(--dark-blue-300);
  font-weight: 400;
  line-height: 2.5rem;
  font-size: 2rem;
}

.info-text {
  color: var(--gray-400);
  font-weight: 400;
  font-size: 0.8em;
  margin: 5px 0.5rem 0;
}

.info-text::before {
  content: url("./info.svg");
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: -4px 4px 0 0;
  vertical-align: middle;
}

button {
  height: 60px;
  width: calc(50% - 10px);
  border: none;
  padding: 12px;
  outline: none;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  margin: 16px 0 0 4px;
}

.btn {
  border-radius: 24px;
  transition: 400ms;
}

.btn-primary {
  background-color: var(--dark-blue-300);
  border: 2px solid white;
  color: white;
}

.btn-primary:hover {
  background-color: var(--dark-blue-500);
}

.btn-secondary {
  color: var(--dark-blue-300);
  border: 2px solid var(--dark-blue-300);
}
.btn-primary:hover {
  background-color: var(--light-blue-200);
}
.card {
  /* position: relative; */
  float: right;
  width: 33.33%;
  margin: 0 0 0 60px;
  background: white;
  /* shadow */
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  word-wrap: break-word;
}

.card img {
  width: 100%;
}

.card p {
  width: calc(100%);
  margin: 24px auto;
  text-align: center;
  color: var(--gray-400);
}
.card p:first-of-type {
  color: var(--gray-500);
  font-size: 1.4rem;
  font-weight: 700;
}
.card p:last-of-type {
  font-size: 1rem;
  font-weight: 400;
}

/*  */
#texto-resultado {
  font-size: 24px;
  line-height: 1.7rem;
  text-align: justify;
  margin: 0;
  color: var(--gray-400);
  height: 80%;
  overflow: auto;
}

.card #btn-copiar {
  width: calc(90% - 20px);
  display: block;
  margin: 2.16rem auto;
}

@media screen and (max-width: 865px) {
  .header {
    height: 8vh;
  }
  .container {
    height: auto;
    padding: 0;
  }

  .formulario {
    width: 100%;
    height: auto;
  }
  textarea {
    height: 200px;
  }
  .card {
    width: calc(100% - 48px);
    height: auto;
    margin-right: 32px;
  }
  .card img {
    display: none;
  }
  .info-text {
    font-size: 1rem;
  }
  .card .btn-secondary {
    display: block;
    margin: 16px auto 0;
    width: 100%;
  }
  #texto-resultado {
    height: 160px;
  }
}

@media (max-width: 500px) {
  .btn-primary,
  .btn-secondary {
    width: 100%;
    display: block;
  }
  .formulario {
    height: auto;
  }
  textarea {
    height: 300px;
  }
}
